html {
 background-color: black;
 text-align: center;
 font-size: 32px;
 font-family: "HelveticaNeue-Light", sans-serif;
 line-height:1;
 color: #6E6E6E;
 //overflow: hidden;
}

body {
	margin: 0;
}

#widget {
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

html::-webkit-scrollbar { width: 0 !important }

#canvasAgario {
	margin: auto;
	display: block;
}

#time {
	font-size: 700%;
	margin:0;
	opacity: 1;
	color: white;
}

#weatherContainer #metric {
	font-size: 50%;
}

#infoContainer {
	margin-bottom: 32px;
}

#hand
{
	fill: gray;
}

#menuContainer
{
	position: absolute;
    margin-bottom: 124px;
	width: 100%;
    bottom: 0;
}

.cross2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.progress-button button
{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding: 0;    
    background-color: transparent;    
    border: 2px solid #1ecd97;
    border-radius: 80px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.progress-button button:focus {
    outline: none;    
}

.progress-button svg
{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.progress-button svg path {
    visibility: hidden; 
    opacity: 0;
    fill: none;
}

#progress {
    stroke: #1ecd97;
    stroke-width: 5;
}

.progress-button svg.checkmark path, 
.progress-button svg.cross path 
{
    stroke: #ffffff;
    stroke-width: 5;
    stroke-linecap: round;
    -webkit-transition: visibility 0s linear .1s, opacity 0.1s linear;
    transition: visibility 0s linear .1s, opacity 0.1s linear;
}

.loading.progress-button button {
    width: 140px;
    height: 140px;
    background-color: transprarent;
    border-width: 10px;
    border-color: #ddd;
    color: #fff;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.loading.progress-button button:hover, .loading.progress-button button:focus
{
    background-color: transparent;
}

.loading.progress-button button span,
.success.progress-button button span,
.error.progress-button button span 
{
    visibility: hidden; 
    opacity: 0;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
    visibility: visible;
    opacity: 1;
    -webkit-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;    
}

.success.progress-button button {
    background-color: #1ecd97;
    border-color: #1ecd97;
}
.error.progress-button button {
    background-color: #fb797e;
    border-color: #fb797e;
}

#map {
	margin: auto;
	width: 100%;
	height: 100%;
}


/* move from / to and fade */

.screen-page {
	width: 100%;
	height: 100%;
	//position: absolute;
	visibility: hidden;
	//overflow: hidden;
	backface-visibility: hidden;
	//transform: translate3d(0, 0, 0);
}

.pt-page {
	width: 100%;
	//height: 100%;
	position: absolute;
	visibility: hidden;
	//overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.screen-page-current, .pt-page-current, .screen-page-current, .no-js .pt-page {
	visibility: visible;
}

.no-js body {
	overflow: auto;
}

.pt-page-moveToLeftFade {
	-webkit-animation: moveToLeftFade .7s ease both;
	animation: moveToLeftFade .7s ease both;
}

.pt-page-moveFromLeftFade {
	-webkit-animation: moveFromLeftFade .7s ease both;
	animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
	-webkit-animation: moveToRightFade .7s ease both;
	animation: moveToRightFade .7s ease both;
}

.pt-page-moveFromRightFade {
	-webkit-animation: moveFromRightFade .7s ease both;
	animation: moveFromRightFade .7s ease both;
}

@-webkit-keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(250%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(250%); transform: translateX(250%); }
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.swiper-container img.swiper-slide-active
{
  //border: 2px solid red;
  //box-sizing: border-box;
}

.swiper-slide-active {
  //transform: scale(1.1) !important; 
}

.swiper-container {
        width: 570px;
        height: 170px;
    }
    
.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#cinema, #news {
	display: table;
	margin: 0 auto;
}

#cinema .movie {
	clear: both;
}

#news tr td img {
	height: 156;
	weight: 156px;
}

#cinema progress[value] {
	margin: 8px 0;
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 150px;
  height: 20px;
}

#cinema .hour {
	display: inline-block;
	background-color: #1A1A59;
	border-radius: 4px;
	padding: 4px 8px;
	margin: 4px;
}

#cinema .title, #news .title {
	color: #CECECE;
}

#cinema progress[value]::-webkit-progress-bar {
  background-color: #333333;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#cinema progress[value]::-webkit-progress-value {
  background-color: #C79810;
}

#widget .thumbnail, #widget .meta {
	margin: 16px;
	float: left;
	text-align: left;
	max-width: 400px;
}

#widget #photo {
	height: 100%;
	width: 100%;
	margin-top: 10%;
	align-items: center;
	justify-content: center;
}

#widget #photo #countdown {
	padding: 25px 100px;
	font-size: 200px;
	background-color: #CECECE;
	border-radius: 2px;
}

#widget #photo #photoTaken {
	display: none;
	max-width: 500px;
	max-height: 500px;
}

#widget #photo #uploadLibelle {
	display: none;
	padding: 5px 15px;
	font-size: 50px;
	background-color: #CECECE;
	border-radius: 2px;	
}