@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

*{box-sizing: border-box;}


#widget .containerOfContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#widget .container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 850px;
  width: 522px;
  overflow: hidden;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

#widget canvas {
  height: 850px;
  width: 522px;
  display: block;
  background: url(http://i.imgur.com/Y0BMP.png) top left;
}

#widget #scoreBoard {
  width: 522px;
  height: 50px;
  background: rgba(182, 200, 220, 0.7);
  position: absolute;
  z-index: 1;  
  border-image: url(http://i.imgur.com/5BBsR.png) 100 5 round;
}

#widget #scoreBoard p {
  font-size: 20px;
  padding: 0;
  line-height: 47px;
  margin: 0px 0 0 5px;
}

#widget img {display: none}

#widget #mainMenu, #widget #gameOverMenu {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#widget #gameOverMenu {
  visibility: hidden;
}

#widget h2, #widget h3, #widget h1 {font-weight: normal}
#widget h1 {
  font-size: 60px; 
  color: #5a5816; 
  transform: rotate(-10deg);
  margin: 0px;
}

#widget h3 {text-align: right; margin: -10px 20px 0 0; color: #5e96be}
#widget h3 a {color: #5a5816}

#widget .button {
  width: 105px;
  height: 31px;
  background: url(http://i.imgur.com/2WEhF.png) 0 0 no-repeat;
  display: block;
  color:  #000;
  font-size: 12px;
  line-height: 31px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -53px;
}

#widget .info {position: absolute; right: 20px; bottom: 00px; margin: 0; color: green}

#widget .info .key {
  width: 16px;
  height: 16px;
  background: url(http://i.imgur.com/2WEhF.png) no-repeat;
  text-indent: -9999px;
  display: inline-block;
}

#widget .info .key.left {background-position: -92px -621px;}
#widget .info .key.right {background-position: -92px -641px;}