<html>
  <head>
    <title>SmartMirror</title>
	<script src={{ static_url("js/jquery-2.2.1.min.js") }} type="text/javascript"></script>
	<script src={{ static_url("js/smartmirror.js") }} type="text/javascript"></script>
	<link rel="stylesheet" href={{ static_url("css/style.css") }} type="text/css" />
	<link rel="stylesheet" href={{ static_url("css/weather-icons.min.css") }} type="text/css" />
  </head>
  <body>
    <div id="time"></div>
	<div>
		<span id="date"></span>
		<span id="weatherContainer"> - 
			<span id="iconStatus"></span>
			<span id="temperature"></span>
		</span>
	</div>
  </body>
</html>